<h2>Users</h2>
<table class="stack">
    <thead>
    <tr>
        <th style="width: 55px">#</th>
        <th style="width: 300px">Full Name</th>
        <th style="width: 250px">Email</th>
        <th style="width: 200px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td>
                <th:block th:text="${user.fullName}"></th:block>
                <span th:each="roleId : ${user.getRolesIds()}"
                      th:class="${roleId != 2 ? 'badge primary' : 'badge alert'}"
                      th:text="${roleId == 1 ? 'U' : (roleId == 2 ? 'A' : '?')}"></span>
            </td>
            <td th:text="${user.email}"></td>
            <td>
                <div class="button-group">
                    <a class="warning button"
                       th:onclick="onEdit([[${user.id}]], [[${user.email}]], [[${user.fullName}]], [[${user.getRolesIds()}]])">Edit</a>
                    <a class="alert button"
                       th:onclick="onDelete([[${user.id}]], [[${user.email}]], [[${user.fullName}]], [[${user.getRolesIds()}]])">Delete</a>
                </div>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<!-- MODAL START -->
<div class="reveal" id="actionsModal" data-reveal>
    <h1 id="modal-heading"></h1>
    <div id="reveal-body">
        <form data-abide noValidate id="actions-form">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div data-abide-error class="alert callout" style="display: none;">
                        <p><i class="fi-alert"></i> There are some errors in your form.</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <label>Email <small>required</small>
                        <input type="email" placeholder="example@email.com" aria-describedby="email" required
                               name="email">
                        <span class="form-error">
                                Please enter a valid email.
                            </span>
                    </label>
                </div>
                <div class="cell">
                    <label>Full name <small>required</small>
                        <input type="text" placeholder="Full Name" aria-describedby="full-name" required
                               name="fullName">
                        <span class="form-error">
                                Please fill out your name.
                            </span>
                    </label>
                </div>
                <div class="cell">
                    <label>Password
                        <input type="password" id="password" placeholder="Password"
                               aria-describedby="exampleHelpTextPassword"
                               name="password">
                    </label>
                </div>
                <div class="cell">
                    <label>Repeat Password
                        <input type="password" placeholder="Repeat password"
                               data-equalto="password" name="confirmPassword">
                    </label>
                </div>
                <fieldset id="roles-checkboxes" class="cell" disabled>
                    <legend>Roles</legend>
                    <th:block th:each="role : ${roles}">
                        <input th:id="'role-' + ${role.id}" name="roles" type="checkbox" th:value="${role.id}">
                        <label th:text="${role.getSimpleName()}" th:for="'role-' + ${role.id}"></label>
                    </th:block>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="button-group">
        <input type="submit" class="alert button" id="deleteButton" value="Delete">
        <input type="submit" class="success button" id="saveButton" value="Edit">
        <input type="button" class="secondary button" value="Cancel" data-close>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- MODAL END -->

<th:block layout:fragment="script">
    <script src="/js/modal-actions.js"></script>
    <script src="/js/admin-user-actions.js"></script>
</th:block>