<th:block layout:fragment="styles">
    <style>
        .content-error {
            border-color: #cc4b37;
        }
        .content-error > .ql-editor.ql-blank::before {
            color: #e1958a;
        }
        #contentError.form-error.is-visible {
            display: initial;
        }

        #editor-container.content-error {
            background-color: #f9ecea;
            border-color: #cc4b37;
        }
        body > #standalone-container {
            margin: 50px auto;
            max-width: 720px;
        }
        #editor-container {
            height: 350px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/WYSIWYG-editor/katex.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/WYSIWYG-editor/monokai-sublime.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/WYSIWYG-editor/quill.snow.css}"/>
</th:block>

<form data-abide novalidate id="articleForm" onsubmit="return onSubmit();">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> There are some errors in your form.</p>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <label>Article title <small>required</small>
                <input type="text" placeholder="Article Title" aria-describedby="title" required
                       name="title">
                <span class="form-error">
                                Please enter a valid title.
                            </span>
            </label>
        </div>
        <div class="cell">
            <label id="contentLabel">Content <small>required</small>
                <!--                <textarea type="text" placeholder="Content" aria-describedby="content" required-->
                <!--                          name="content"> </textarea>-->
                <!-- QUILL EDITOR START-->
                <div id="standalone-container">
                    <div id="toolbar-container">
    <span class="ql-formats">
      <select class="ql-font"></select>
      <select class="ql-size"></select>
    </span>
                        <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
                        <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>
                        <span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>
                        <span class="ql-formats">
      <button class="ql-header" value="1"></button>
      <button class="ql-header" value="2"></button>
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
    </span>
                        <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
    </span>
                        <span class="ql-formats">
      <button class="ql-direction" value="rtl"></button>
      <select class="ql-align"></select>
    </span>
                        <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-image"></button>
      <button class="ql-video"></button>
      <button class="ql-formula"></button>
    </span>
                        <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>
                    </div>
                    <div id="editor-container"></div>
                </div>
                <!-- QUILL EDITOR END -->
                <span id="contentError" class="form-error">
                                                Please enter post longer than 10 symbols.
                                            </span>
            </label>
        </div>
        <div class="cell">
            <label>Category <!-- <small>required</small>-->
                <select name="categoryId">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </label>
        </div>
        <div class="cell">
            <label>Tags
                <input type="text" placeholder="Tags" aria-describedby="tagsHelpText" name="tagString">
            </label>
            <p class="help-text" id="tagsHelpText">Separate tags with comma</p>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell button-group">
            <button class="button success" id="submitButton" type="submit" value="Submit">Submit</button>
            <button class="button secondary" type="reset" value="Reset">Reset</button>
        </div>
    </div>
</form>

<th:block layout:fragment="script">
    <script th:src="@{/js/WYSIWYG-editor/katex.min.js}"></script>
    <script th:src="@{/js/WYSIWYG-editor/highlight.min.js}"></script>
    <script th:src="@{/js/WYSIWYG-editor/quill.min.js}"></script>

    <script>
        var request = {
            type: "POST",
            path: "/api/articles/create"
        }
    </script>
    <script th:src="@{/js/article-submit.js}"></script>
</th:block>
