<th:block layout:fragment="styles">
    <link rel="stylesheet" type="text/css" th:href="@{/css/comments.css}"/>
</th:block>

<div class="post">
    <header class="post-header">
        <h1 class="post-title" th:text="${article.title}"></h1>
        <p class="post-meta" th:text="${article.author.fullName} + ', ' + ${#dates.format(article.createdDate, 'dd/MM/yyyy')}"></p>
        <div class="button-group">
            <button class="button small secondary" th:each="tag:${article.tags}"
                    th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></button>
        </div>
    </header>
    <article class="post-content">
        <div th:utext="${article.content}"></div>
<!--        style="white-space: pre-wrap;" -->
        <div class="button-group" sec:authorize="isAuthenticated()" th:if="${user.isAdmin() || user.isAuthor(article)}">
            <a class="warning button" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
            <a class="alert button" data-open="confirmDeleteModal">Delete</a>
            <a class="secondary button" th:href="@{/}">Back &raquo;</a>
        </div>
        <div class="tiny reveal" id="confirmDeleteModal" data-reveal sec:authorize="isAuthenticated()">
            <h1>Are you sure you want to delete this article?</h1>
            <p class="lead">This action is permanent.</p>
            <div class="button-group">
                <form th:action="@{/article/delete/{id}(id=${article.id})}" method="POST">
                    <input type="submit" class="alert button" value="Delete">
                    <input type="button" class="secondary button" value="Cancel" data-close>
                </form>
            </div>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="comment-section">
            <h1 class="title">Loading comments...</h1>
            <article class="media" id="media-template" style="display: none">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/images/default-avatar.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p name="comment-features">
                            <small>
                                <span name="comment-features-actions">
                                    <a name="reply-button" onclick="onReply()">Reply</a> · </span>
                            </small>
                        </p>
                    </div>
                    <div id="replies-0"></div>
                </div>
            </article>
            <article class="media" id="comment-box" style="display: none;">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/images/default-avatar.png">
                    </p>
                </figure>
                <div class="media-content">
                    <form id="comment-form">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" placeholder="Add a comment..." name="comment-body"></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                            <div class="button" name="comment-submit-button">Post comment</div>
                            </p>
                        </div>
                    </form>
                </div>
            </article>
            <div id="user-comments"></div>
        </div>
    </article>
</div>

<script th:inline="javascript">
    var articleId = [(${article.id})];
    var userIsLoggedIn = [(${user?.email != null})];
    var userId = /*[[${user?.id}]]*/ null;
    var userIsSuperUser = [(${user.isAdmin()})];
</script>
<script th:src="@{/js/comments.js}"></script>