<form data-abide novalidate th:action="@{/login}" method="post">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> There are some errors in your form.</p>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <label>Email <small>required</small>
                <input type="email" placeholder="example@email.com" aria-describedby="email" required
                       name="email">
                <span class="form-error">
                                Please enter a valid email.
                            </span>
            </label>
        </div>
        <div class="cell">
            <label>Password <small>required</small>
                <input type="password" id="password" placeholder="Password"
                       aria-describedby="exampleHelpTextPassword" required
                       name="password">
                <span class="form-error">
                                Password is required.
                            </span>
            </label>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="cell">
            <div class="button-group">
                <button class="button" type="submit" value="Submit">Submit</button>
                <button class="button secondary" th:href="@{/}" value="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</form>