<form data-abide novalidate th:action="@{/register}" method="post">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> There are some errors in your form.</p>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <label>Email <small>required</small>
                <input type="email" placeholder="example@email.com" aria-describedby="email" required
                       name="email">
                <span class="form-error">
                                Please enter a valid email.
                            </span>
            </label>
        </div>
        <div class="cell">
            <label>Full name <small>required</small>
                <input type="text" placeholder="Full Name" aria-describedby="full-name" required
                       name="fullName">
                <span class="form-error">
                                Please fill out your name.
                            </span>
            </label>
        </div>
        <div class="cell">
            <label>Password <small>required</small>
                <input type="password" id="password" placeholder="Password"
                       aria-describedby="exampleHelpTextPassword" required
                       name="password">
                <span class="form-error">
                                Password is required.
                            </span>
            </label>
        </div>
        <div class="cell">
            <label>Repeat Password <small>required</small>
                <input type="password" placeholder="Repeat password" aria-describedby="exampleHelpText2" required
                       data-equalto="password" name="confirmPassword">
                <span class="form-error">
                                Password doesn't match.
                            </span>
            </label>
            <p class="help-text" id="exampleHelpText2">Repeat password.</p>
        </div>
        <div class="cell">
            <div class="button-group">
                <button class="button" type="submit" value="Submit">Submit</button>
                <button class="button secondary" th:href="@{/}" value="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</form>