<head th:fragment="head">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/foundation.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/vendor/modernizr.js}"></script>
</head>