<!-- Start Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><a th:href="@{/}">Keyblogger</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <!-- START DROPDOWN BUTTON -->
            <ul sec:authorize="hasRole('ADMIN')" class="dropdown menu" data-dropdown-menu="3lyoam-dropdown-menu" role="menubar">
                <li class="has-submenu is-dropdown-submenu-parent opens-right" role="none" aria-haspopup="true" aria-label="Admin" data-is-click="false">
                    <a role="menuitem">Admin</a>
                    <ul class="submenu menu is-dropdown-submenu first-sub vertical" data-submenu="" role="menubar" style="">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/categories/' ? 'active':''}" role="none" class="is-submenu-item is-dropdown-submenu-item"><a th:href="@{/admin/categories/}" role="menuitem">Categories</a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/users/' ? 'active':''}" role="none" class="is-submenu-item is-dropdown-submenu-item"><a th:href="@{/admin/users/}" role="menuitem">Users</a></li>
                    </ul>
                </li>
            </ul>
            <!-- END DROPDOWN BUTTON -->
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/article/create' ? 'active':''}" sec:authorize="isAuthenticated()"><a th:href="@{/article/create}">Create Article</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/profile' ? 'active':''}" sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Account</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active':''}" sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}" sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->
<!-- Start Callout -->
<!--<div class="callout large primary">-->
<!--    <div class="text-center">-->
<!--        <h1>Our Blog</h1>-->
<!--    </div>-->
<!--</div>-->
<!-- End Callout -->