<script th:src="@{/js/site.js}"></script>

<script th:src="@{/js/vendor/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/vendor/fastclick.min.js}"></script>
<script th:src="@{/js/vendor/what-input.js}"></script>
<script th:src="@{/js/foundation.min.js}"></script>
<!--<script th:src="@{/js/vendor/foundation.core.js}"></script>-->
<script th:src="@{/js/vendor/foundation.abide.js}"></script>
<script>
    $(document).foundation();
</script>