<div class="cell">
    <h1 style="margin-top: 2.2rem;display: inline-block;vertical-align: middle;margin-bottom: 0;">403 Forbidden</h1>
    <p style="margin-bottom: 2.2rem;font-size: 125%;line-height: 1.6;">Access denied.</p>
</div>