/* LOGO NAV BUTTON */
.menu-text a {
    padding: 0;
    color: inherit;
    text-decoration: inherit;
}

/* --- HOMEPAGE START --- */

/* ARTICLE LINKS */
.blog-post h3 a, .blog-post a > p {
    color: #000;
    cursor: pointer;
    text-decoration: inherit;
}

/* ARTICLE LIST READ MORE BUTTON */
div.callout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.callout > ul {
    padding: 1rem;
}

/* TAGS AND CATEGORIES */

.menu.simple a {
    padding: 0.7rem 1rem;
}

.callout > ul {
    padding: 0;
}

ul > div.button-group {
    margin-bottom: 0;
}

/* --- HOMEPAGE END --- */

/* --- POST PAGE START --- */
.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-meta {
    font-size: 15.75px;
    color: #828282;
}

.post {
    width: -webkit-calc(800px - (30px * 2));
    width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.post-content {
    font-size: 18px;
    /* text-align: justify; */
}

/* --- POST PAGE END --- */

/* FOOTER */
html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    padding-bottom: 74px
}
.footer {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 74px;
    text-align: center !important;
}

/* ADMIN CATEGORIES */

.categories-header {
    display: inline flex;
    justify-content: space-between;
    width: 50%;
    align-items: baseline;
}

@media only screen and (max-width: 1024px) {
    .categories-header {
        width: 100%;
    }
}
