<div class="categories-header">
    <h2>Categories</h2>
    <a class="button warning" th:onclick="onCreate()">Create New</a>
</div>
<table class="stack">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <div class="button-group">
                <a class="warning button" th:onclick="onEdit([[${category.id}]], [[${category.name}]])">Edit</a>
                <a class="alert button" th:onclick="onDelete([[${category.id}]], [[${category.name}]])">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<!-- MODAL START -->
<div class="reveal" id="actionsModal" data-reveal>
    <h1 id="modal-heading"></h1>
    <div id="reveal-body">
        <form data-abide="ajax" id="actions-form">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div data-abide-error class="alert callout" style="display: none;">
                        <p><i class="fi-alert"></i> There are some errors in your form.</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <label>Category name <small>required</small>
                        <input type="text" placeholder="Category Name" required
                               name="name">
                        <span class="form-error">
                                Please fill out a category name.
                            </span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="button-group">
        <button type="submit" class="success button" id="saveButton">
            Create
        </button>
        <button type="submit" class="alert button" id="deleteButton">
            Delete
        </button>
        <input type="button" class="secondary button" value="Cancel" data-close>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- MODAL END -->

<th:block layout:fragment="script">
    <script src="/js/modal-actions.js"></script>
    <script src="/js/admin-categories-actions.js"></script>
</th:block>
