<div class="medium-9 cell">
    <div th:block th:each="article : ${articles}" class="blog-post">
        <h3><a th:text="${article.title} + ' '" th:href="@{/article/{id}(id=${article.id})}"></a><small th:text="${#dates.format(article.createdDate, 'dd/MM/yyyy')}"></small></h3>
<!--        <img class="thumbnail" src="https://placehold.it/850x350">-->
<!--        <a th:href="@{/article/{id}(id=${article.id})}">-->
            <p th:utext="${article.summary}"></p>
<!--        </a>-->
        <div class="callout">
            <ul class="menu simple">
                <li><a th:href="@{/(userId=${article.author.id})}" th:text="${article.author.fullName}"></a></li>
<!--                <li><a href="#">Comments: NaN</a></li>-->
                <li>
                    <a class="button primary" th:href="@{/(categoryId = ${article.category.id})}" th:text="${article.category.name}"></a>
                </li>
            </ul>
            <ul class="menu simple">
                <div class="button-group" th:if="${article.tags.size() > 0}">
                    <a th:each="tag : ${article.tags}" class="button secondary" th:text="${tag.name}" th:href="@{/(tag = ${tag.name})}"></a>
                </div>
                <li><a th:href="@{/article/{id}(id=${article.id})}">Read more &raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="medium-3 cell sticky-container" data-sticky-container="" style="height: 310.8px;">
    <div class="sticky is-anchored is-at-top" data-sticky="" data-anchor="content" data-resize="32f3fa-sticky" data-mutate="32f3fa-sticky" data-e="bu6rit-e" style="max-width: 238px; margin-top: 0px; bottom: auto; top: 0px;" data-events="mutate">
        <th:block th:if="${selectedTag != null}">
            <h4>Selected tag:</h4>
            <ul>
                <li th:text="${selectedTag.name + ' (' + #sets.size(selectedTag.getArticles()) + ')'}">
                </li>
            </ul>
        </th:block>
        <th:block th:if="${selectedAuthor != null}">
            <h4>Selected author:</h4>
            <ul>
                <li th:text="${selectedAuthor.getFullName() + ' (' + #sets.size(selectedAuthor.getArticles()) + ')'}">
                </li>
            </ul>
        </th:block>
        <th:block th:if="${selectedCategory == null}">
            <h4>Categories</h4>
            <ul>
                <li th:each="category : ${categories}">
                    <a th:href="@{/(categoryId=${category.id})}"
                       th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}"></a>
                </li>
            </ul>
        </th:block>
        <th:block th:if="${selectedCategory != null}">
            <h4>Selected category:</h4>
            <ul>
                <li th:text="${selectedCategory.name + ' (' + #sets.size(selectedCategory.articles) + ')'}">
                </li>
            </ul>
        </th:block>

        <th:block th:if="${selectedAuthor == null}">
            <h4>Authors</h4>
            <ul>
                <li th:each="user : ${users}">
                    <a th:href="@{/(userId=${user.id})}"
                       th:text="${user.getFullName() + ' (' + #sets.size(user.getArticles()) + ')'}"></a>
                </li>
            </ul>
        </th:block><th:block th:if="${selectedTag == null}">
        <h4>Tags</h4>
        <ul>
            <li th:each="tag : ${tags}">
                <a th:href="@{/(tag=${tag.name})}"
                   th:text="${tag.name + ' (' + #sets.size(tag.getArticles()) + ')'}"></a>
            </li>
        </ul>
    </th:block>
    </div>
</div>